@page
@model LoginModel

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/login.css">
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div >
        <section>
            <form id="account" method="post">
                <h1>Log in</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <p>
                    <a style="color:blue" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                </p>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary ">Log in</button>
                </div>
                  <br/>
                 <div class="divider">
                     <span class="divider-line"></span>
                     <span class="divider-text">OR</span>
                     <span class="divider-line"></span>
                 </div>
               </form>
                  <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn-ext-login" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-microsoft"></i></button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                <div>
                    
                    <p>
                        <a style="color:blue" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create account</a>
                    </p>
                 
                </div>
           
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
