@model IEnumerable<UserRolesViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/admin.css">
}

<div class="row">
<h2>Users and Their Roles</h2>
 
<table class="table">
 <thead>
     <tr>
         <th>Email</th>
         <th>Roles</th>
         <th>Edit Roles</th>
         <th></th>
     </tr>
 </thead>
 <tbody>
     @foreach (var user in Model)
     {
         <tr>
             <td>@user.Email</td>
             <td>@string.Join(", ", user.Roles)</td>
             <td>
                 <!-- You might want a form here for editing roles, or a link to a separate edit page -->
                 <form method="post">
                     <input type="hidden" name="userId" value="@user.UserId" />
                     <!-- Display roles checkboxes or any other inputs you prefer -->
                     <div class="role-section">
                     @foreach (var role in ViewData["Roles"] as List<string>)
                     {
                    <label class=role-checkbox>
                        <input type="checkbox" name="roles" value="@role" @(user.Roles.Contains(role) ? "checked" : "") />
                        @role
                    </label>
                     }
                     </div>
                     <button type="submit" class="btn icon-btn"><i class="fa-regular fa-floppy-disk" style="font-size: x-large; color: green; margin-left: 5px;"></i></button>
                 </form>
             </td>
            <td>
                <a asp-controller="UserAdmin" asp-action="DeleteUser" asp-route-userId="@user.UserId"><button class="btn"><i style="font-size: x-large" class="fa-solid fa-trash"></i></button></a>
            </td>
         </tr>
     }
 </tbody>
</table>
</div>
