@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    IList<string> userRoles = new List<string>();
    if (isSignedIn)
    {
        var user = await UserManager.GetUserAsync(User);
        userRoles = await UserManager.GetRolesAsync(user);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex_II</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/imgs/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/imask"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
    @* <script src="https://kit.fontawesome.com/74c768f0cc.js" crossorigin="anonymous"></script> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("PageSpecificStyles", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>
<body>
    <header>
        <nav>
            <div class="left-nav-elements">
                  @if (userRoles.Contains("Admin"))
                  {
                      <a asp-controller="Home" asp-action="Dashboard">
                          <img src="@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "/imgs/whitelogo.png" : "/imgs/logo.png")" height="50px" alt="Lego Brick Logo">
                      </a>
                      <a asp-controller="Home" asp-action="AdminProducts" class=@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "white-nav" : "black-nav")>Products</a>
                      <a asp-controller="UserAdmin" asp-action="UserAdmin" class=@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "white-nav" : "black-nav")>Users</a>
                  }
                  else
                  {
                      <a asp-controller="Home" asp-action="Index">
                          <img src="@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "/imgs/whitelogo.png" : "/imgs/logo.png")" height="50px" alt="Lego Brick Logo">
                      </a>
                      <a asp-controller="Home" asp-action="Products" class=@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "white-nav" : "black-nav")>Shop</a>
                      <a href="#" class=@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "white-nav" : "black-nav")>Discover</a>
                      <a asp-controller="Home" asp-action="About" class=@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "white-nav" : "black-nav")>About</a>
                  }

            </div>
            <div class="right-nav-elements">
              <a asp-area="Identity" asp-page="/Account/Manage/Index"><img src="/imgs/lego.png" height="30px"></a>
              <a ><img src="@((ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "/imgs/whitesearch.png" : "/imgs/search.png")" height="30px"></a>
                @if (isSignedIn)
                 {
                     <div id="cart-div">
                         <a asp-action="Cart" asp-controller="Home">
                             <img src="@((ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "/imgs/whitecart.png" : "/imgs/cart.png")" height="27px">
                         </a>
                        <span class=@(ViewBag.CartItemCount != null ? "cart-div-icon-show" : "cart-div-icon-no-show");>
                            @(ViewBag.CartItemCount ?? "")
                        </span>

                     </div>
                 }
                 else
                {
                    <a asp-action="Cart" asp-controller="Home"><img src="@((ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "/imgs/whitecart.png" : "/imgs/cart.png")" height="27px"></a>
                }
            </div>
        </nav>
    </header>
    <div class="main-body">

            @RenderBody()

    </div>

<footer>
    <div class="flex-grid">
        <div class="col">
            <div class="subscription-form">
                <p id="sub-message">JOIN AURORA BRICK'S MAILING LIST</p>
                <form action="your-server-side-handler">
                    <input type="email" id="email" name="email" placeholder="Email Address" required>
                    <button type="submit">&#10140;</button> <!-- Unicode arrow symbol -->
                </form>
            </div>
            <div class="socials">
                <div class="socialList">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""> <i class="fa-brands fa-tiktok"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
          
        </div>
        <div class="col">
            <ul class="aboutList">
                <h4>ABOUT US</h4>
                <li><a href="">Our Story</a></li>
                <li><a href="">Privacy Info</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="helpList">
                <h4>CONTACT</h4>
                <li><a href=""><i class="fa-solid fa-house"></i>   New York, NY 100012, US</a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i>   info@example.com</a></li>
                <li><a href=""><i class="fa-solid fa-phone"></i>    +1 (800) 123-4567</a></li>
            </ul>
        </div>
    </div>
</footer>
<div id="cookieConsentPopup" class="cookie-consent-popup">
    <p>This website uses cookies to ensure you get the best experience.<br/> Click <a asp-action="Privacy" asp-controller="Home">Here</a> to learn more.</p>
    <button id="closeCookieConsent">Got it!</button>
    <button id="unsureCookieConsent">I'm not so sure...</button>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
