@using System.Collections
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Cart

<div style="margin-top:100px;">
    <h1>Cart</h1>
    <br />
    <br />
    @{
        List<int> ProductIds = new List<int>();
    }
    @foreach(var item in ViewBag.CartItems)
    {
        ProductIds.Add(item.ProductId);
        
        <img src="@item.ProductImage" style="height: 100px" />
        <h3>@item.ProductName</h3>
        <p>@item.ProductPrice</p>
        <form method="post">
            <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId" />
            <input type="hidden" asp-for="ProductId" value="@item.ProductId" />
            <input type="hidden" asp-for="ItemQuantity" value="1" />
            <input type="hidden" asp-for="TotalPrice" value="@item.ProductPrice" />
            <button type="submit">Remove</button>
        </form>
    }
    <br />
    <a asp-controller="Home" asp-action="SubmitOrder" asp-route-customerId="1" asp-route-productIds="@ProductIds"><button>Order</button></a>

</div>
