@{
    ViewData["Title"] = "Home Page";
}
@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/index.css">
}
@model Cart

<div class="hero-img">
    <div class="hero-txt poppins-regular">
        <h2 >
            Craft<br/> Your <br/>Dream <br/>
        </h2>
           <img src="imgs/legobrick.png" height="50px"/>
        <h4>One Brick at a Time.</h4>
     
        <a asp-action="Products" asp-controller="Home" id="shop-now-button">
            Shop Now >
        </a>
    </div>
    <div class="carousel" data-carousel="1" data-speed="5000">
        <span class="carousel-control-left"></span>
        <span class="carousel-control-right"></span>
        <div class="carousel-content">
            <img src="imgs/lotr.png" alt="image 5"/>
            <img src="imgs/gringotts.png" alt="image 1"/>
            <img src="imgs/castle.png" alt="image 2"/>

            <img src="imgs/sanctum.png" alt="image 3"/>

            <img src="imgs/starry.png" alt="image 4"/>

            <img src="imgs/lotr.png" alt="image 5"/>
            <img src="imgs/gringotts.png" alt="image 1"/>
        </div>
    </div>
</div>
<div class="text-center">
    <h2 id="card-title">Things you might like...</h2>
    <div class="cards">
        @foreach (var r in ViewBag.Recommendations)
        {
            <a asp-action="SingleProduct" asp-controller="Home" asp-route-productId="@r.ProductId">
                <div class="wrapper">
                    <div class="container" style="background: url(@r.ProductImage) no-repeat center center; background-size: contain;">
                        <div class="top"></div>
                        <div class="bottom">
                            <div class="left">
                                <div class="details">
                                    <p id="name-of-product">@r.ProductName</p>
                                    <p id="cost-of-product">$@r.ProductPrice</p>
                                </div>
                                <!--<div class="buy"><i class="material-icons">add_shopping_cart</i></div>-->
                                <form method="post" class="add-to-cart-form" style="height: 100%">
                                    <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId"/>
                                    <input type="hidden" asp-for="ProductId" value="@r.ProductId"/>
                                    <input type="hidden" asp-for="ItemQuantity" value="1"/>
                                    <input type="hidden" asp-for="TotalPrice" value="@r.ProductPrice"/>
                                    <button type="submit" class="buy" style="border: none;">
                                        @* <div class="buy"> *@
                                        <i class="material-icons">add_shopping_cart</i>
                                        @* </div> *@
                                    </button>
                                </form>
                            </div>
                            <div class="right">
                                <div class="done"><i class="material-icons">done</i></div>
                                <div class="details">
                                    <p>Added to your cart</p>
                                </div>
                                <!--<div class="remove"><i class="material-icons">clear</i></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="icon"><i class="material-icons">info_outline</i></div>
                        <div class="contents">

                            <h2>@r.ProductName</h2>
                            <p id="inside-product-price">$@r.ProductPrice</p>
                            <br/>
                            <p>Description</p>
                            <p id="product-description">@r.ProductDescription</p>

                        </div>
                    </div>
                </div>
            </a>
        }



    </div>
</div>
<div id="cookieConsentPopup" class="cookie-consent-popup">
    <p>This website uses cookies to ensure you get the best experience.<br/> Click <a asp-action="Privacy" asp-controller="Home">Here</a> to learn more.</p>
    <button id="closeCookieConsent">Got it!</button>
    <button id="unsureCookieConsent">I'm not so sure...</button>
</div>
<script>
    $(document).ready(function () {
        $('.add-to-cart-form').on('submit', function (e) {
            e.preventDefault(); // Prevent default form submission

            var formData = $(this).serialize(); // Serialize form data

            $.ajax({
                url: '@Url.Action("SingleProduct", "Home")', // Set to your actual URL
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Handle success - for example, show a message or update cart count
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(error);
                }
            });
        });
    });
</script>
