@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/productpage.css">
}
@model Cart
@{
    Layout = "_Layout";
    ViewData["Title"] = "Products";
}
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
<div class="container-fluid py-5 margin-top-custom">
    <div class="row">
        <!-- Filter Panel on the left -->
        <div class="col-lg-3 mb-4 ">
            <form asp-controller="Home" asp-action="Products" method="get">
                <div class="sleek-column">
                    <h1>FILTERS</h1>
                    <!-- Categories -->
                    <h3 class="h4 mb-4 font-weight-bold">Categories</h3>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="@category" name="categories" value="@category">
                            <label class="form-check-label" for="@category">@category</label>
                        </div>
                    }
                    <!-- Colors -->
                    <h3 class="h4 mb-4 font-weight-bold">Colors</h3>
                    <div class="color-filters d-flex flex-wrap">
                        @foreach (var color in ViewBag.Colors)
                        {
                            <div class="color-option mb-4 mr-2 d-flex flex-column align-items-center">
                                <input type="checkbox" class="color-input" id="@color" name="Colors" value="@color" hidden>
                                <label class="color-indicator mb-1" for="@color" style="background-color: @color;"></label>
                                <label class="color-name" for="@color">@color</label>
                            </div>
                        }
                    </div>





@*                     <!-- Ratings -->
                    <br />
                    <h3 class="h4 mb-4 font-weight-bold">Ratings</h3>
                    <select name="rating" class="form-control">
                        <option value="">Select Rating</option>
                        <option value="4">★★★★☆ & Up</option>
                        <option value="3">★★★☆☆ & Up</option>
                        <option value="2">★★☆☆☆ & Up</option>
                        <option value="1">★☆☆☆☆ & Up</option>
                    </select> *@

                    <!-- Price Range -->
                    <br />
                    <h3 class="h4 mb-4 font-weight-bold">Price Range</h3>
                    <div class="mt-4">
                        <label for="minPrice" class="form-label">Min Price:</label>
                        <input type="number" class="form-control" id="minPrice" name="minPrice" step="0.01">
                    </div>
                    <div class="mt-3 mb-4">
                        <label for="maxPrice" class="form-label">Max Price:</label>
                        <input type="number" class="form-control" id="maxPrice" name="maxPrice" step="0.01">
                    </div>

                    <!-- Submit Btn -->
                    <button type="submit" class="full-width-button">Apply Filters</button>
                </div>
            </form>
        </div>

        <!-- Display filtered products on the right -->
        <div class="col-lg-9 sleek-column">
            @if (Model is null)
            {
 
                <div class="row">
                    @foreach (var product in ViewBag.Products)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <!-- Product Image -->
                                <img src="@product.ProductImage" class="card-img-top" alt="@product.ProductName">

                                <!-- Card Body -->
                                <div class="card-body"> 
                                <div class="card-info">
                                    <h5 class="card-title">@product.ProductName</h5>
                                    <p class="card-subtitle mb-2 text-muted text-right">$@product.ProductPrice</p>
                                </div>
                                


                                <!-- Card Actions -->
                                <div class="card-buttons">
                                    <ul class="card-footer">
                                        <a asp-controller="Home" asp-action="SingleProduct" asp-route-productId="@product.ProductId" class="btn btn-primary">View Product</a>

                                        <form method="post" class="d-inline">
                                            <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId" />
                                            <input type="hidden" asp-for="ProductId" value="@product.ProductId" />
                                            <input type="hidden" asp-for="ItemQuantity" value="1" />
                                            <input type="hidden" asp-for="TotalPrice" value="@product.ProductPrice" />
                                            <button type="submit" class="btn btn-success">Add to Cart</button>
                                        </form>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>No products match the selected criteria.</p>
            }
        </div>

    </div>
    <!-- Pagination -->
    <div class="pagination-container">
        <div class="pagination">
            <ul class="pagination">
                <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Products", new { page = 1, itemsPerPage = ViewBag.ItemsPerPage })">First</a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                        <a class="page-link @(i == ViewBag.Page ? "active-link" : "")" href="@Url.Action("Products", new { page = i, itemsPerPage = ViewBag.ItemsPerPage })">@i</a>
                    </li>
                }
                <li class="page-item @(ViewBag.Page == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Products", new { page = ViewBag.TotalPages, itemsPerPage = ViewBag.ItemsPerPage })">Last</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="items-per-page-container">
        <div class="items-per-page">
            <label for="itemsPerPage">Items Per Page:</label>
            <select id="itemsPerPage" name="itemsPerPage" onchange="changeItemsPerPage()">
                @if(ViewBag.ItemsPerPage == 5)
                {
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                }
                @if(ViewBag.ItemsPerPage == 10)
                {
                    <option value="5" >5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                }
                @if(ViewBag.ItemsPerPage == 20)
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20" selected>20</option>
                }
            </select>
        </div>
    </div>
</div>
@if(ViewBag.AddedToCart is not null)
{
    <div id="popup" class="cart-popup">
        <div class="cart-popup-content">
            <h2>Item Added to Cart</h2>
            <button class="btn popup-btn-org" onclick="closePopup()">Okay</button>
            <a href="@Url.Action("Cart", "Home")"><button class="btn popup-btn-purp">View Cart</button></a>
        </div>
    </div>
}
<script>
    function changeItemsPerPage() {
        var itemsPerPage = document.getElementById("itemsPerPage").value;
        var currentPage = @(ViewBag.Page);

        window.location.href = "@Url.Action("Products")" + "?page=" + currentPage + "&itemsPerPage=" + itemsPerPage;
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }
</script>

