@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
@model Cart






<br />
<br />
<br />
<img style="height: 250px" src="@ViewBag.Products.ProductImage" alt="Image of product" />
<h1>@ViewBag.Products.ProductName</h1>
<p>$ @ViewBag.Products.ProductPrice</p>







<br />
<br />
<h1>Recommended products based on the pipeline:</h1>
@foreach(var item in ViewBag.SimilarProducts)
{
    <img style="height: 100px" src="@item.ProductImage" alt="Image of product" />
    <h1>@item.ProductName</h1>
    <p>$@item.ProductPrice</p>
    <p>@item.Rank</p>
}
<form method="post">
    <input type="hidden" asp-for="CustomerId" value="@ViewBag.UserId" />
    <input type="hidden" asp-for="ProductId" value="@ViewBag.Products.ProductId" />
    <input type="hidden" asp-for="ItemQuantity" value="1" />
    <input type="hidden" asp-for="TotalPrice" value="@ViewBag.Products.ProductPrice" />
    <button type="submit">Add to Cart</button>
</form>